<h1>AngularTODO tasks</h1>

<style>
  .strike {
      text-decoration: line-through;
  }
</style>

<div ng-app="app">
  <div ng-controller="taskCtrl">
    <ul>
      <li ng-repeat="task in tasks track by $index">
        <span ng-class="{'strike': task.completed}" ng-click="markDone(task)">
          {{ task.text }}
        </span> 
      </li>
    </ul>
    <div>
      <button ng-click="clearCompleted();" ng-if="tasks.length !== numIncomplete">Clear Completed Tasks</button>
    </div>
    <h4>Number of Incomplete Tasks : {{ numIncomplete }}</h4>
    <h3>Add New Tasks:</h3>
    <input ng-model="newTask" ng-click="clearNewTask();">
    <button ng-click="addTask(newTask);">Add Task</button>
  </div>
</div>

<!-- <input type="checkbox" ng-model="task.completed"> -->