<h1>AngularTODO tasks</h1>

<div ng-app="app">
  <div ng-controller="taskCtrl">
    <ul>
      <li ng-repeat="task in tasks">
        {{ task }} <input ng-model=task>
      </li>
    </ul>

    <h3>Add New Tasks:</h3>
    <input ng-model="newTask">
    <button ng-click="addTask(newTask)">Add Task</button>
  </div>
</div>